<header>
    <nav class="navbar navbar-dark">
        <a class="navbar-brand" href="/">Hidden Founders - Shops</a>
        <div class="navbar-expand ml-auto navbar-nav">
            <div class="navbar-nav">
                <a class="nav-item nav-link" [routerLink]="['home']" [routerLinkActive]="['active']">
                    Nearby Shops
                </a>
                <a class="nav-item nav-link" [routerLink]="['preferred']"  [routerLinkActive]="['active']">
                    My preferred Shops
                </a>
                <a class="nav-item nav-link" (click)='logout()'>
                    Logout
                </a>
            </div>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>
<footer>
    <div class="footer-copyright text-center py-3 fixed-bottom">
        Made with <i class="fa fa-heart"></i> Hidden Founders
    </div>
</footer>