<section class="shops">
    <div class="shop-card" *ngFor="let shop of shops">
        <div class="shop-info">
            <h5>{{shop.name}}</h5>
        </div>
        <div class="shop-image">
            <img src="{{shop.picture}}">
        </div>
        <div class="shop-info buttom">
            <button class="dislike" (click)="addShopToDisliked(shop.id)">Dislike</button> 
            <button class="like" (click)="addShopToPreferred(shop.id)">Like</button>
        </div>
    </div>
</section>